body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
    background: linear-gradient(to right, #FFF8DC, #DC143C);
    text-align: center;
}

.container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 340px;
    width: 100%;
}

h1 {
    color: #333;
}

.bmi-result {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    /* gap: 0.5rem; */
    justify-content: space-between;
}

.button, .button2 {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    /* cursor: pointer; */
    font-weight: bold;
    font-size: 1rem;
}

.button {
    background-color: #007bff;
    color: #fff;
}

.button:hover, .button2:hover {
    background-color: #0056b3;
}

@media (max-width: 576px) {
    .button-container {
        flex-direction: column;
    }

    .button, .button2 {
        width: 100%;
    }
}
